:root {
  --bg-color: #ffffff;
  --text-color: #111827;
}

@media (prefers-color-scheme: white) {
  :root {
    --bg-color: #030712; /* This is gray-950 */
    --text-color: #f9fafb;
  }

  html {
    color-scheme: white;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: sans-serif;
}
